@import 'globalstyles.scss';
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__banner {
		height: 100%;
		margin: 40px 0 60px;
		img {
			width: 241px;
			height: 241px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&-header {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			color: $white;
			font-size: 16px;
			font-weight: 800;
			margin-bottom: 2rem;
			svg {
				fill: $white;
			}
		}
	}
	&__grid {
		display: grid;
		height: 100%;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
	}
}
